/*IMPORTAÇÃO DEFONTES*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --azul-dnc:#0C70F2;
    --preto-dnc:#303030;
    --cinza-hover:#C9C9C9;

    --fonte-padrao:'inter' ;
}

body{
    margin:0px; /* Margen externa*/
    padding:0px; /*Margen Interna*/
    

    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5)19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat:no-repeat;
}

/* MENU DE NAVEGAÇÃO PRINCIPAL*/
#principal{ 
        border: 1px  solid black;
        background-color:var(--preto-dnc);
        padding-bottom: 1%;
        padding-top: 0.5%;
                

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: ipx solid #BABABA;

}

#menu{
       display: flex;
       width: 55%;
       justify-content: space-around;
       align-items: center;

}

#principal div a{
      font-family: var(--fonte-padrao);
      font-size: 25px;
      font-weight: 600px;
      color: white;
      text-decoration: none;

} 

#principal div a:hover{
      color: var(--cinza-hover);

}

#principal button{
      margin-top: 15px;
      margin-right: 5%;
      background-color: var(--azul-dnc);
      border: 0px;

      height: 40px;
      width: 90px;

      font-family: var(--fonte-padrao);
      font-size: 20px;
      font-weight: 600;
      color: white;
      box-shadow: 3px 2px 4px rgba(12,112, 242, 0.30);
      cursor: pointer;
}

/*seção principal do site*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
        
}

header{
    color: white;
    font-family: var(--fonte-padrao);
       
}

header h1{
    text-transform:uppercase ;
    font-size:55px;
    font-weight: 600px;
    text-align: center;

    margin-bottom: 20px;
}

header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700px;

    margin-bottom: 100px;
}

header .invert{
    background-color: black;
    font-weight: bold;
    padding: 4px;
}

/* Formulario */
form{
    color:white;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    font-weight: 600px;
    width: 500px;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

form input{
    border-radius: 6px;
    height: 35px;
    border:0px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);

}

/* DEFINIR AS QUATROS POSIÇÕES DOS INPUT CIMA, DIREITA,BAIXO e ESQUERDA*/
form label{
    margin: 10px 0px 10px 0px;
}

form input::placeholder{
    color:rgba(57, 57,57, 0.5);
}

.checkbox-itens label{
    font-size: 25px;
}

.checkbox-itens{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"]{
    transform: scale(1.5);
}

input[type="submit"]{
    background-color: rgba(12, 112, 242, 0.9);
    width: 100%;
    height: 56px;
    font-size: 32px;
    color:white;
    margin-top: 100px;
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;

}

/* FOOTER*/
footer{
    width: 100%;
    background-color: var(--azul-dnc);
    height: 600px;
}

footer .linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.escola{
    height: 600px;

}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
    font-size: 25px;
}

footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    
}

footer h5{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    background-color: var(--preto-dnc);
    border-radius: 10px;

    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
}

footer ul li{
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 20px 0px 20px 0px;
}

footer ul li a{
    color: white;
    text-decoration: none;
   
    
}
footer ul li a:hover{
    color: var(--cinza-hover);
}

footer .endereco{
    font-weight: 600;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 150px;
    
}

footer .linha2{
    height: 35px;
    display: flex;
    justify-content: center;
    margin: 200px;
    padding: 10px;
}

footer .linha2 a{
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px;
    
}

 footer .linha2 a:hover{
    color:var(--cinza-hover)
 }
/* primeiro filho vai ter o traço*/
 footer .linha2 a:first-child{
    border-right: 3px solid white;
 }
 

 @media only screen and (max-width: 600px){
    /*MENU*/
    #principal{
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
        
    }

    #menu a{
        height: 50px;
        
    }
    /*section*/
    section h1{
        font-size: 18px;
    }
    section h2{
        font-size: 28px;
        padding-right: 5px;
        padding-left: 15px;
    }
    /*formulario*/
    form{
        width: 87%;
        font-size: 15px;
    }

    .checkbox-itens label{
        font-size: 18px;

    }

    /*footer*/
    footer ul li{
        text-align: center;
        color: white;
        font-weight: 200px;
        padding: 5px 0px 5px 0px;
    }
    

    footer .linha1{
        flex-direction: column;
        font-size: 12px;
        margin-top: 10px;
    }
    footer .endereco{
        font-size: 10px;
        font-family: var(--fonte-padrao);
        color: white;
        text-align: center;
        margin: 20px;
        
        
    }
    footer .linha2{
        height: 15px;
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 0px;
}

 }